.post {
  border-color: #3d3d3d;
  border-width: 2px;
  cursor: pointer;
  border-radius: 15px !important;
}

.post:hover {
  border-radius: 10px;
  border-color: white;
  border-width: 2px;
  transform: scale(1.02);
  transition: 0.3s;
}

.author-link {
  text-decoration: none;
  cursor: pointer;
  color: #fff !important;
}

.author-link:hover {
  color: #fff;
  text-decoration: underline;
}
